/*
============
Filters
============
*/

/*The whole filters class*/
.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

/* The Button */
section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    right: 30px;
    top: 50%;
    margin-top: -24px;
    position: absolute;
}

section.filters button:hover {
    opacity: 90%;
}

/* The div for locations and amenities */
.locations, .amenities {
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.amenities {
    left: 25%;
    position: absolute;
}

/* h3 and h4 elements inside div */
.filters h3, .filters h4 {
    margin-left: 40px;
}
.filters h3 {
    font-weight: 600;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.filters h4 {
    font-weight: 400;
    font-size; 14px;
    margin-bottom: 14px;
    margin-top: 0px;
}

/* popovers */
.popover {
    display: none;
}

div.locations:hover > ul, div.amenities:hover > ul {
    display: block;
}

.popover, .popover li ul {
    list-style-type: none;
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 0;
    padding-top: 0;
}

li h2 {
    margin-bottom: 0;
    font-size: 16px;
}
